*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas.woff2') format('woff2'),
         url('../fonts/Bebas.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: sans-serif;
    color: rgb(99, 94, 94);
    
}

.wrapper {
    max-width: 450px;
    background: rgba(241, 238, 238, 0.973);
    border: 10px solid rgb(214, 209, 209);
    margin: 0 auto;
    padding: 20px;
}

input[type="radio"]:focus {
    background: rgba(132, 177, 245, 0.3);
    border: 2px solid blue;
}

label {
    font-family: 'Bebas';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}

.license-choice:focus {
    background: rgba(26, 141, 248, 0.534);
    border: 1px solid blue;
}

.price {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13px;
    position: relative;
    left: 100px;
}

.select__text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-now__total {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.buy-now__plan {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgba(48, 131, 240, 0.863);
}

.output {
    color: rgba(48, 131, 240, 0.863);
}

.buy-now__btn {
    background: green;
    color: white;
    font-size: 10px;
    width: 130px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.buy-now__btn: